#password-container {
    justify-content: center;
    margin-top: 125px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    text-align: center;
    font-size: large;
    border: solid black 1px;
    
}